psycopg2-layer/python/psycopg2/__init__.py
psycopg2-layer/python/psycopg2/__pycache__/extras.cpython-38.pyc
psycopg2-layer/python/psycopg2-2.9.5.dist-info/REQUESTED
psycopg2-layer/python/psycopg2-2.9.5.dist-info/top_level.txt
psycopg2-layer/*
docker/**/*
frontend-react-js/build/*
*.env
node_modules

